productionModeEnabled=B"true"
networkHostAddresses=["http://10.30.61.192:9200"]
authenticationEnabled=B"true"
username="elsuser"
password="password123"









############# Comment must be at beginning of config file


# In CE/DXP 7.3+, productionModeEnabled replaces operationMode (deprecated):
productionModeEnabled=B"true"
#networkHostAddresses=["http://192.168.100.65:9200","http://es-node3:9201","http://es-node3:9202"]
networkHostAddresses=["http://192.168.100.65:9200"]
# In CE/DXP 7.3+ the security settings are included in the ElasticsearchConfiguration
# In CE/DXP 7.2 the security settings go in com.liferay.portal.search.elasticsearch7.configuration.XPackSecurityConfiguration.config
# Authentication
authenticationEnabled=B"true"
username="admin"
password="password123"

# TLS/SSL
#networkHostAddresses=["https://es-node1:9200","https://es-node3:9201","https://es-node3:9202"]
#httpSSLEnabled=B"true"
#truststoreType="pkcs12"
#trustStorePath="/PATH/TO/elastic-nodes.p12"
#trustStorePassword="liferay"

# Highly recommended for all non-prodcution usage (e.g., practice, tests, diagnostics):
#logExceptionsOnly="false"
